<h2>Stores</h2>
<p>
    Name: <input type="text" ng-model="name"/>
    Address: <input type="text" ng-model="address"/>
    Minimum Rank: <input type="text" ng-model="rank"/>
    <input type="button" value="Filter" ng-click="search()"/>
</p>
<hr/>
<section id="stores-list-section" >
    <ul id="stores-list">
        <li class="store-list" ng-repeat="store in stores">
            <h4 style="margin-top: 60px;">
                {{store.name}}
            </h4>
            <p>{{store.address}}</p>
            <p>Rank: {{store.rank}}</p>
            <p>{{store.phone}}</p>
        </li>
    </ul>
    <div id="map" ng-controller="StoreController"></div>
</section>

<section>
    <h3>Stores rating graph</h3>

    <table id="rating-table">
        <tr> <td>1</td> <td><div></div></td> </tr>
        <tr> <td>2</td> <td><div></div></td> </tr>
        <tr> <td>3</td> <td><div></div></td> </tr>
        <tr> <td>4</td> <td><div></div></td> </tr>
        <tr> <td>5</td> <td><div></div></td> </tr>
    </table>

</section>

<script>
    var map;
    var markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:32.073022, lng: 34.782403},
            zoom: 12
        });

        var scope = $('[ng-controller="StoreController"]').scope();

        scope.stores.forEach(function (store) {

            setMarker(new google.maps.LatLng(store.coordinates[0], store.coordinates[1]), store.name);
        });


    }
    function setMarker(position, title) {
        var marker;
        var markerOptions = {
            position: position,
            map: map,
            title: title,
            icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        };

        marker = new google.maps.Marker(markerOptions);

        markers.push(marker);

    }

    function resetMarkes(data){
        if (typeof google === "undefined")
                return;

        for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
        }
        markers = [];

        data.forEach(function (store) {

            setMarker(new google.maps.LatLng(store.coordinates[0], store.coordinates[1]), store.name);
        });
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjV2W0ihSsVdO5bgS7yPC9aF7yEzt6EV4&callback=initMap"
        async defer></script>

