/*------------------------------
=book public Details
------------------------------*/

#bookPublicDetailes{

}
    #bookPublicDetailes {
    }

        #bookPublicDetailes p.book-subtitle {
            font-style: italic;
        }

        #bookPublicDetailes p.book-description {
            text-align: justify;
            display: table-cell;
            width: 620px;
            padding-right: 22px;
            /*Multiple-columns*/
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	#comments article {
		display: table;
		padding: 22px;
	}

	#comments article:nth-child(odd) {
		padding: 21px;
		background: #f5f5f5;
		border: 1px solid #f5f5f5;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
	}

		#comments article header {
			display: table-cell;
			width: 220px;
			padding-right: 22px;
		}

			#comments article header a {
				display: block;
				font-weight: bold;
				color: #000;
			}

				#comments article header a:hover {
					text-decoration: none;
				}

		#comments article p {
			padding: 0;
		}

    /*------------------------------
    =COMMENT FORM
    ------------------------------*/
    #comments form {
        margin-top: 21px;
        padding-top: 22px;
        border-top: 1px solid #d7d7d7;
    }

        #comments form p {
            display: table;
            margin-bottom: 22px;
            padding: 0 22px;
        }

        #comments form label {
            display: table-cell;
            width: 140px;
            padding-right: 20px;
            text-align: right;
            font-weight: bold;
            vertical-align: top;
        }

		#comments form input[type="text"], form input[type="email"], form input[type="url"] {
			display: table-cell;
			width: 300px;
			height: 20px;
			border: 1px solid #d7d7d7;
		}

		#comments form textarea {
			width: 300px;
			height: 100px;
			border: 1px solid #d7d7d7;
		}

		#comments form input[type="submit"] {
			margin-left: 162px;
		}

/*------------------------------
=Book list
------------------------------*/

.book-list{
    display:inline-block;
    width: 150px;
    height: 300px;
    margin: 2px;
    padding: 2px;
    position: relative;
    text-align: center;
    background-image: url("/img/BookCover.png");
    background-size: 150px 200px;
    background-repeat: no-repeat;
}
.book-headline{
  height: 75px;
  font-size: 24px;
}

.book-details{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users-list{
    display:inline-block;
    width: 150px;
    height: 300px;
    margin: 2px;
    padding: 2px;
    position: relative;
    text-align: center;
    background-image: url("/img/UserPhoto.png");
    background-size: 150px 200px;
    background-repeat: no-repeat;
}

h2{
    font-family: webFont;
    text-shadow: 2px 2px 6px grey;
}

.main-title {
  transition: font 0.3s ease;
}
.main-title:hover {
    font-size: 80px;
}
@font-face {
    font-family: webFont;
    src: url(../fonts/sansation_light.woff);
}

/*------------------------------
=Book list (end)
------------------------------*/

/*------------------------------
=Store list
------------------------------*/

.store-list{
    display:inline-block;
    width: 150px;
    height: 300px;
    margin: 2px;
    padding: 2px;
    position: relative;
    text-align: center;
    background-image: url("/img/StoreCover.png");
    background-size: 150px 200px;
    background-repeat: no-repeat;
}

/*------------------------------
= Other
------------------------------*/

#map {
    height: 300px;
    width: 700px;
}


.row{
    margin-bottom: 30px;
}
#temperatureDiv {
    background-color: aliceblue;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}

 .avocado-pics{
     -webkit-column-count: 2;
 }

 div.graph-bar{
  background-color: steelblue;
  padding: 0px;
  margin: 0px;
  color: white;
  display: block;
  height: 10px;
  min-width: 1px;
 }

 #popular-users-graph {
 }
    #popular-users-graph svg {
    }


.reviewer-li {
  position: relative;
  display: block;
  padding: 15px 0px;
  color: #999999;
}

.noDisplay{
    display: none;
}

.yesDisplay{
    display: inline;
}
.moreLink{
    font-weight:900;
}
.bookDescCol{
    display: inline;
}

/* store rating graph*/
#rating-table{
    width: 300px;
}
#rating-table tr td:first-child{
    width: 30px;
}

