@{
    ViewBag.Title = "Administrator registration";
}

<h2>@ViewBag.Title.</h2>

<h4>Thank you for submitting an administrator account request.</h4>
<hr />
<h5>We will review your case and notify you via Email, when we have made our decision.</h5>
   
